$blue: rgb(44, 98, 165);
$grey: rgb(189, 189, 189);

$card-height: 230px;
$card-width: 200px;

.carousel-head {
    display: flex;

    .icon-container {
        flex: 0.04;
        display: flex;
        justify-content: center;
        align-items: center;

        i {
            font-size: 1rem;
            background-color: $blue;
            padding: 0.6rem 1rem;
            border-radius: 4px;
            color: white;
        }
    }

    .title-container {
        margin-left: 0.5rem;
        flex: 0.94;

        p {
            margin: 0;
        }

        .title {
            font-size: 1.2rem;
            color: $blue;

            i {
                font-size: 1rem;
                cursor: pointer;
            }
        }

        .subtitle {
            font-size: 0.8rem;
            color: $grey;
        }
    }
}

.carousel-body {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    overflow: auto;

    &::-webkit-scrollbar {
        display: none;
    }

    .card {
        width: $card-width;
        height: $card-height;
        margin: 1rem 0.5rem;
        background-color: rgb(255, 255, 255);
        box-shadow: rgba(0, 12, 0, 0.30) 0px 0px 4px -1px;
    }
    
    .image-container {
        position: relative;

        .image-container__footer {
            display: flex;
            width: 100%;
            position: absolute;
            justify-content: space-between;
            left: 0;
            bottom: 0;

            span {
                background-color: rgba(0, 0, 0, 0.5);
                color: white;
                padding: 0.2rem 0.4rem;
                font-size: 0.6rem;
                font-weight: 800;

                &.argument {
                    text-transform: uppercase;
                }
            }
        }
    }

    .card-content {
        padding: 0.8rem;
        
        p {
            margin: 0;

            &.card-title {
                color: $blue;
                font-size: 0.8rem;
                margin-bottom: 0.4rem;
                font-weight: 700;
            }

            &.card-subtitle {
                color: $grey;
                font-size: 0.6rem;
            }
        }
    }

    #indicator {
        width: 50px;
        height: $card-height + 10px;
        background-color: rgba(0, 12, 0, 0.30);
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 3rem;
        z-index: 10;
        
        i {
            color: white;
            cursor: pointer;
        }
    }
}

.stack-cards {
    list-style-type: none;
    padding: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    li {
        &:nth-child(1) {
            position: absolute;
            top: 5px;
            width: $card-width - 5px;
            display: block;
            z-index: 4;
        }
    
        &:nth-child(2) {
            display: block;
            z-index: 3;
            position: absolute;
            top: 10px;
            width: $card-width - 10px;
        }

        &:nth-child(3) {
            display: block;
            z-index: 5;
            position: relative;
        }
    }
}