.carousel-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.carousel-head .icon-container {
  -webkit-box-flex: 0.06;
      -ms-flex: 0.06;
          flex: 0.06;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel-head .icon-container i {
  font-size: 1rem;
  background-color: #2c62a5;
  padding: 0.6rem 1rem;
  border-radius: 4px;
  color: white;
}

.carousel-head .title-container {
  margin-left: 1rem;
  -webkit-box-flex: 0.94;
      -ms-flex: 0.94;
          flex: 0.94;
}

.carousel-head .title-container p {
  margin: 0;
}

.carousel-head .title-container .title {
  font-size: 1.2rem;
  color: #2c62a5;
}

.carousel-head .title-container .title i {
  font-size: 1rem;
}

.carousel-head .title-container .subtitle {
  font-size: 0.8rem;
  color: #bdbdbd;
}

.carousel-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  overflow: hidden;
}

.carousel-body .card {
  width: 200px;
  height: 230px;
  margin: 1rem 0.5rem;
  background-color: white;
  -webkit-box-shadow: rgba(0, 12, 0, 0.3) 0px 0px 4px -1px;
          box-shadow: rgba(0, 12, 0, 0.3) 0px 0px 4px -1px;
}

.carousel-body .image-container {
  position: relative;
}

.carousel-body .image-container .image-container__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: absolute;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  left: 0;
  bottom: 0;
}

.carousel-body .image-container .image-container__footer span {
  background-color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  color: white;
  padding: 0.2rem 0.4rem;
  font-size: 0.6rem;
  font-weight: 800;
}

.carousel-body .card-content {
  padding: 0.8rem;
}

.carousel-body .card-content p {
  margin: 0;
}

.carousel-body .card-content p.card-title {
  color: #2c62a5;
  font-size: 0.8rem;
  margin-bottom: 0.4rem;
  font-weight: 700;
}

.carousel-body .card-content p.card-subtitle {
  color: #bdbdbd;
  font-size: 0.6rem;
}
/*# sourceMappingURL=carousel.css.map */