.carousel-head {
  display: flex;
}
.carousel-head .icon-container {
  flex: 0.04;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-head .icon-container i {
  font-size: 1rem;
  background-color: #2c62a5;
  padding: 0.6rem 1rem;
  border-radius: 4px;
  color: white;
}
.carousel-head .title-container {
  margin-left: 0.5rem;
  flex: 0.94;
}
.carousel-head .title-container p {
  margin: 0;
}
.carousel-head .title-container .title {
  font-size: 1.2rem;
  color: #2c62a5;
}
.carousel-head .title-container .title i {
  font-size: 1rem;
  cursor: pointer;
}
.carousel-head .title-container .subtitle {
  font-size: 0.8rem;
  color: #bdbdbd;
}

.carousel-body {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  overflow: auto;
}
.carousel-body::-webkit-scrollbar {
  display: none;
}
.carousel-body .card {
  width: 200px;
  height: 230px;
  margin: 1rem 0.5rem;
  background-color: white;
  box-shadow: rgba(0, 12, 0, 0.3) 0px 0px 4px -1px;
}
.carousel-body .image-container {
  position: relative;
}
.carousel-body .image-container .image-container__footer {
  display: flex;
  width: 100%;
  position: absolute;
  justify-content: space-between;
  left: 0;
  bottom: 0;
}
.carousel-body .image-container .image-container__footer span {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 0.2rem 0.4rem;
  font-size: 0.6rem;
  font-weight: 800;
}
.carousel-body .image-container .image-container__footer span.argument {
  text-transform: uppercase;
}
.carousel-body .card-content {
  padding: 0.8rem;
}
.carousel-body .card-content p {
  margin: 0;
}
.carousel-body .card-content p.card-title {
  color: #2c62a5;
  font-size: 0.8rem;
  margin-bottom: 0.4rem;
  font-weight: 700;
}
.carousel-body .card-content p.card-subtitle {
  color: #bdbdbd;
  font-size: 0.6rem;
}
.carousel-body #indicator {
  width: 50px;
  height: 240px;
  background-color: rgba(0, 12, 0, 0.3);
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 3rem;
  z-index: 10;
}
.carousel-body #indicator i {
  color: white;
  cursor: pointer;
}

.stack-cards {
  list-style-type: none;
  padding: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stack-cards li:nth-child(1) {
  position: absolute;
  top: 5px;
  width: 195px;
  display: block;
  z-index: 4;
}
.stack-cards li:nth-child(2) {
  display: block;
  z-index: 3;
  position: absolute;
  top: 10px;
  width: 190px;
}
.stack-cards li:nth-child(3) {
  display: block;
  z-index: 5;
  position: relative;
}

/*# sourceMappingURL=carousel.css.map */
